<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title  :: CodedHomes</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @RenderSection("styles", required: false)
    </head>
<body class="container-fluid">
    <header>
        <div class="row">
            <div class="col-md-6">
                <a href="/" <img alt="CodedHomes"title="CodedHomes" src="~/images/chill-countryside-green-4709-825x550.jpg" /></a>
            </div>
            <div class="col-md-6">
                <div class="pull-right online standout">
                    @if (ViewBag.IncludeManifest != null)
                    {

                        @Html.ActionLink("Manage Account",
                    "manage", "account")
                    }
                    else
                    {
                        @Html.Partial("_LoginPartial")
                    }
                </div>
            </div>
        </div>
    </header>
    <article>
        @RenderBody()
    </article>
    <footer>
        <small>&copy; @DateTime.Now.Year CodedHomes</small>
    </footer>
        @RenderSection("breakout", required: false)
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
</body>

</html>
